*
{
  margin: 0;
  padding: 0;
}

body 
{
    font-size: 30px;
    color: #1B6BB0;
    background-color: #4A5664;
  }
  
  /*HEADER*/
nav ul
{
    list-style-type: none;
}
nav li
{
    float: left;
    width: 25%;
    text-align: center;
}
nav ul::after
{
    content:"";
    display: table;
    clear: both;
}
nav
{
    width: 100%;
    margin: auto;
    background-color: orange;
    position: sticky;
    top: 0px;
}
nav a
{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
    box-shadow: 4px 2px 2px orange;
}
nav a:hover
{
    color: yellow;
    border-bottom: 2px solid black;
}
/*FIN HEADER */

.box-button {
  border-radius: 5px;
  background: yellow;
  text-align: center;
  cursor: pointer;
  font-size: 19px;
  width: 100%;
  height: 51px;
  padding: 0;
  color: black;
  border: 0;
  outline:0;
}

.box-titre {
  color: yellow;
  font-size: 60px;
  text-align:center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.box-img
{
  width: 100%;
}
.box-lien
{
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  font-size: 50px;
  width: 50%;
  height: 51px;
  padding: 0;
  margin-left: 25% ;
  color: black;
  border: 0;
  outline:0;
}

.box
 {
  border: 2px solid yellow;
  border-radius: 30px;
  padding: 30px 25px 10px 25px;
  background: whitesmoke;
  margin: 30px auto;
  width: 360px;
  text-align: center;
  width: 60%;
}

/*Footer*/
footer
{
  border-top: 2px solid yellow;
  background-color: orange;
  margin-top: 15%;
  padding: 3%;

}
footer p
{
  width: 100%;
  margin: 0auto;
  color: white;
  text-align: center;
  font-size: 30px;
}
